

.hero {
   @media screen and (max-width: $mobile) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-mobile.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding-top: 118px;
      padding-bottom: 118px;
   }
   @media screen and (min-width: $tablet) and (max-width: 1199px) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-tablet.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding-top: 118px;
      padding-bottom: 118px;
   }
   @media screen and (min-width: $desktop) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-desktop.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding-top: 200px;
      padding-bottom: 200px;
   }
}

// @media screen 
//    and (min-device-pixel-ratio: 2)
//    and (--webkit-min-device-pixel-ratio: 2)
//    and (--o-min-device-pixel-ratio: 2/1)
//    and (min-resolution: 192dpi)
//    and (min-resolution: 2dppx)
//    and (max-width: $mobile) {
//    .hero {
//       background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-mobile@2x.jpg');
//    }
// }

// @media screen and (min-device-pixel-ratio: 2) and (--webkit-min-device-pixel-ratio: 2) and (--o-min-device-pixel-ratio: 2/1) and (min-resolution: 192dpi) and (min-resolution: 2dppx) and (min-width: $tablet)and (max-width: 1199px) {
//    .hero {
//       background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-tablet@2x.jpg');
//    }
// }

// @media screen and (min-device-pixel-ratio: 2) and (--webkit-min-device-pixel-ratio: 2) and (--o-min-device-pixel-ratio: 2/1) and (min-resolution: 192dpi) and (min-resolution: 2dppx) and (min-width: $desktop) {
//    .hero {
//       background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-desktop@2x.jpg');
//    }
// }

.hero__title {
   @media screen and (max-width: $mobile) {
      width: 360px;
      margin: 0 auto;
      color: $white-color;
      font-weight: 900;
      font-size: 24px;
      line-height: 1.62;
      letter-spacing: 0.06em;
      text-transform: uppercase;
   }
   @media screen and (min-width: $tablet) and (max-width: 1199px) {
      width: 700px;
      margin: 0 auto;
      color: $white-color;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-transform: uppercase;
   }
   @media screen and (min-width: $desktop) {
      width: 700px;
      margin: 0 auto;
      color: $white-color;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-transform: uppercase;
   }
}

.hero__btn {
   @media screen and (max-width: $mobile) {
      min-width: 200px;
      height: 50px;
      margin-top: 30px;
      font-family: $main-font;
      background-color: $accent-color;
      color: $white-color;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.06em;
      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      @include MainTransition(background-color);
      &:hover,
      &:focus {
         background-color: $hover-accent-color;
      }
   }
   @media screen and (min-width: $tablet) and (max-width: 1199px) {
      min-width: 200px;
      height: 50px;
      margin-top: 30px;
      font-family: $main-font;
      background-color: $accent-color;
      color: $white-color;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.06em;
      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      @include MainTransition(background-color);
      &:hover,
      &:focus {
         background-color: $hover-accent-color;
      }
   }
   @media screen and (min-width: $desktop) {
      min-width: 200px;
      height: 50px;
      margin-top: 30px;
      font-family: $main-font;
      background-color: $accent-color;
      color: $white-color;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.06em;
      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      @include MainTransition(background-color);
      &:hover,
      &:focus {
         background-color: $hover-accent-color;
      }
   }
}