.logo {
   font-family: $logo-font;
   color: $accent-color;
   text-decoration: none;
   @include Fontstyle(24px, 1.17, 0.03em, 700);
   &--black {
      color: $black-color;
   }
   &--white {
      color: $white-color;
   }
   @media screen and (min-width: $desktop) {
      font-size: 26px;
      line-height: 1.19;
   }
}