.header {
   position: relative;
   border-bottom: 1px solid $border-header-color;
}

.container__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   padding-top: 10px;
   padding-bottom: 5px;
   @media screen and (min-width: $tablet) {
      padding-top: 15px;
   }
   @media screen and (min-width: $desktop) {
      padding-top: 22px;
      padding-bottom: 22px;
   }
}

.nav {
   display: flex;
   align-items: center;

}

.nav-list {
   display: flex;
   flex-direction: column;
   margin-bottom: 300px;
   @media screen and (min-width: $tablet) {
      flex-direction: row;
      margin-bottom: 0;
   }
}

.contact-list {
   display: flex;
   flex-direction: column-reverse;
   margin-bottom: 64px;
   @media screen and (min-width: $tablet) {
      flex-direction: column;
      margin-bottom: 0;
   }
   @media screen and (min-width: $desktop) {
      flex-direction: row;
   }
}

.contact-list__item {
   @media screen and (max-width: 767px) {
      height: 100%;
      &:not(:first-child) {
         margin-bottom: 32px;
      }
   }
   @media screen and (min-width: $tablet) {
      display: flex;
   }
   @media screen and (min-width: $desktop) {
      &:nth-child(n + 2) {
         margin-left: 50px;
      }
   }
}

.nav-list__link {
   &:hover,
   &:focus {
      color: $accent-color;
   }
   padding: 10px 0;
   color: $title-color;
   text-decoration: none;
   @include Fontstyle(40px, 1.18, 0.02em, 500);
   @include MainTransition(color);
   &--current {
      color: $accent-color;
   }
   @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 1.14;
      &--current {
         position: relative;
      }
      &--current::after {
         content: '';
         position: fixed;
         bottom: -23px;
         left: 0;
         display: inline-block;
         width: 100%;
         height: 4px;
         border-radius: 2px;
         background-color: $accent-color;
         }
      }
}

.contact-list__link {
   @media screen and (max-width: 767px) {
      &--color {
         margin-bottom: 32px;
         color: $accent-color;
         text-decoration: none;
         @include Fontstyle(34px, 1.18, 0.02em, 500);
      }
      &--small {
         color: $text-color;
         text-decoration: none;
         @include Fontstyle(24px, 1.17, 0.02em, 500);
      }
   }
   @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 0;
      color: $text-color;
      text-decoration: none;
      @include Fontstyle(12px, 1.17, 0.02em, 500);
      @include MainTransition(color);
      &:hover,
      &:focus {
         color: $accent-color;
      }
   }
   @media screen and (min-width: $desktop) {
      padding: 10px 0;
      font-size: 14px;
      line-height: 1.14;
   }
}

.nav-list__item {
   @media screen and (max-width: 767px) {
      height: 100%;
      &:not(:last-child) {
         margin-bottom: 32px;
      }
   }
   @media screen and (min-width: $tablet) {
      height: 100%;
      &:nth-child(n + 2) {
         margin-left: 50px;
      }
   }
}

.contact-list__icon {
   @media screen and (max-width: 767px) {
      &--hidden {
         display: none;
      }
   }
   @media screen and (min-width: $tablet) {
      fill: currentColor;
      margin-right: 10px;
   }
}

.hidden-menu {
   @media screen and (min-width: $tablet) {
      display: none;
   }
}

.menu-button {
   display: inline-flex;
   padding: 0;
   border: none;
   background-color: transparent;
}

.menu-button .icon-close {
   display: none;
}

.menu-button.is-open .icon-close {
   display: block;
   position: absolute;
   z-index: 2;
}

.menu-button.is-open {
   display: block;
   position: absolute;
   z-index: 2;
   right: 15px;
   top: 10px;
}

.menu-button.is-open .icon-menu {
   display: none;
}

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
   fill: $accent-color;
}

.menu-button:hover .icon-close,
.menu-button:focus .icon-close {
   fill: $accent-color;
}

.menu-container {
   @media screen and (max-width: 767px) {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 48px 40px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
      &.is-open {
         display: block;
      }
      background-color: $white-color;
      z-index: 1;
   }
   @media screen and (min-width: $tablet) {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      margin-left: 88px;
   }
   @media screen and (min-width: $desktop) {
      margin-left: 93px;
   }
}

.soc-list {
   @media screen and (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
   }
   @media screen and (min-width: $tablet) {
      display: none;
   }
}

.soc-list__item {

}

.soc-list__link {
   color: $accent-color;
   text-decoration: none;
   @include Fontstyle(18px, 1.22, 0.02em, 500);
}