/* Блок footer */

.footer {
   margin: auto;
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: $footer-bg-color;
}

.footer-blocks {
   @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      align-items: baseline;
   }
}

.footer-blocks--wrapper {
      margin-bottom: 60px;
   @media screen and (min-width: $tablet) {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
      width: 100%;
   }
   @media screen and (min-width: $desktop) {
      margin-bottom: 0;
   }
}

/* Блок footer - address */

.address {
   text-align: center;
   @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   @media screen and (min-width: $desktop) {
      margin-right: 70px;
      margin-left: 0;
      align-items: flex-start;
   }
}

.joinup {
   margin-top: 60px;
   @media screen and (min-width: $tablet) {
      margin: 0;
      display: flex;
      flex-direction: column;
   }
   @media screen and (min-width: $desktop) {
      margin-right: 93px;
   }
}

.mailup__field {
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: center;
   @media screen and (min-width: $desktop) {
      flex-direction: row;
      align-items: start;
   }
}

.address__list {
   margin-top: 20px;
   text-align: center;
   @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column;
   }
   @media screen and (min-width: $desktop) {
      align-items: flex-start;
   }
}

.address__item:nth-child(n + 2) {
   margin-top: 9px;
   }

.address__cityname {
   color: $white-color;
   text-decoration: none;
   font-style: normal;
   @include Fontstyle(14px, 1.71, 0.03em, 400);
}

.address__text {
   display: block;
   color: rgba(255, 255, 255, 0.6);
   text-decoration: none;
   font-style: normal;
   @include Fontstyle(14px, 1.71, 0.03em, 400);
}

/* Блок footer - socials */

.joinup__title {
   margin-bottom: 20px;
   color: $white-color;
   text-transform: uppercase;
   text-align: center;
   @include Fontstyle(14px, 1.14, 0.03em, 400);
   @media screen and (min-width: $desktop) {
      text-align: left;
   }
}

/* Блок footer - mailup */

.mailup__input {
   display: flex;
   align-items: center;
   max-width: 100%;
   height: 50px;
   padding: 15px;
   font-family: $main-font;
   color: rgba(255, 255, 255, 0.6);
   background-color: $footer-bg-color;
   border: 1px solid rgba(255, 255, 255, 0.3);
   box-sizing: border-box;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   @include Fontstyle(16px, 1.25, 0.03em, 400);
   &:focus {
      color: $white-color;
      border-color: $accent-color;
      outline: none;
   }
   @media screen and (min-width: 480px) {
      width: 450px;
   }
   @media screen and (min-width: $desktop) {
      width: 358px;
   }
}

.mailup__btn {
   display: flex;
   align-items: center;
   padding: 13px 28px;
   margin-top: 20px;
   @include MainTransition(background-color);
   &:hover,
   &:focus {
      background-color: $hover-accent-color;
   }
   @media screen and (min-width: $desktop) {
      margin-top: 0;
      margin-left: 12px;
   }
}

.mailup__icon {
   margin-left: 10px;
}