.header {
   position: relative;
}

.container__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   padding: 10px 15px;
   border-bottom: 1px solid $border-header-color;
}

.hidden-nav {
   @media screen and (max-width: 767px) {
      display: none;
   }
}

.hidden-menu {
   @media screen and (min-width: $tablet) {
      display: none;
   }
}

.menu-button {
   display: inline-flex;
   padding: 0;
   border: none;
   background-color: transparent;
}

.menu-button .icon-close {
   display: none;
}

.menu-button.is-open .icon-close {
   display: block;
}

.menu-button.is-open .icon-menu {
   display: none;
}

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
   fill: $accent-color;
}

.menu-button:hover .icon-close,
.menu-button:focus .icon-close {
   fill: $accent-color;
}

.menu-container {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   padding: 48px 40px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
   0px 2px 4px rgba(0, 0, 0, 0.08),
   0px 1px 3px rgba(0, 0, 0, 0.16);
   &.is-open {
      display: block;
   }
   background-color: tomato;
}



