/* ОФОРМЛЕНИЕ СТРАНИЦЫ ПОРТФОЛИО */

/* Меню */

.filter {
   display: flex;
   margin: -4px;
   margin-bottom: 40px;
   @media screen and (max-width: $mobile) {
      flex-wrap: wrap;
      width: 370px;
      height: 91px;
   }
   @media screen and (min-width: $tablet) {
      justify-content: center;
      margin-bottom: 50px;
   }  
}

.filter__item {
   margin: 4px;
}

.filter__btn {
   padding: 6px 22px;
   background-color: $add-bg-color;
   color: $title-color;
   border: none;
   border-radius: 4px;
   text-align: center;
   @include Fontstyle(16px, 1.62, 0.03em, 500);
   @include MainTransition(color background-color box-shadow);
   &:hover,
   &:focus {
         background-color: $accent-color;
         color: $white-color;
         box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   }
}

/* Проэкты */

.projects {
   display: flex;
   flex-wrap: wrap;
   margin: -15px;
      &__is-hidden {
         position: relative;
         overflow: hidden;
      }
}

.projects_img {
   margin: 0 auto;
}

.projects__item {
   width: 450px;
   margin: 15px;
   border: 1px solid $border-projects-list;
   position: relative;
   @media screen and (min-width: $tablet) {
      width: 354px;
   }
   @media screen and (min-width: $desktop) {
      width: 370px;
   }
}

.projects__link {
   display: block;
   width: 100%;
   text-decoration: none;
   @include MainTransition(border-radius box-shadow);
   &:hover,
   &:focus {
      border-radius: 4px;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   }
}

.projects__thumb {
      padding: 20px 24px;
}

.projects__about {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   width: 100%;
   height: 292px;
   padding: 63px 24px;
   color: $white-color;
   background-color: rgba(33, 150, 243, 0.9);
   transform: translateY(100%);
   overflow: hidden;
   @include Fontstyle(18px, 1.55, 0.03em, 400);
   @include MainTransition(transform);
   .projects__link:hover & {
      transform: translateY(0);
      opacity: 1;
   }
}

.projects__title {
      color: $title-color;
      @include Fontstyle(18px, 2, 0.06em, 400);
}

.projects__text {
      color: $text-color;
      @include Fontstyle(16px, 1.86, 0.03em, 400);
}